@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.title{
    font-size: 45px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
}
.page{
    font-size: 17px;
}